<div class="col-md-6 offset-md-3">
    <h3> Add Question </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Title </label>
            <input type="text" class ="form-control" id = "title"
                [(ngModel)] = "question.title" name = "title">
        </div>
    
        <div class="form-group">
            <label> Description </label>
            <input type="text" class ="form-control" id = "descriptionQuestion"
                [(ngModel)] = "question.descriptionQuestion" name = "descriptionQuestion">
        </div>
    
        <div class="form-group">
            <label> Image Source </label>
            <input type="text" class ="form-control" id = "imageSrc"
                [(ngModel)] = "question.imageSrc" name = "imageSrc">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 