<div class="col-md-6 offset-md-3">
    <h3> Edit Answer </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Description </label>
            <input type="text" class ="form-control" id = "descriptionAnswer"
                [(ngModel)] = "answer.descriptionAnswer" name = "descriptionAnswer">
        </div>
    
        <div class="form-group">
            <label> Image Source </label>
            <input type="text" class ="form-control" id = "imgSrc"
                [(ngModel)] = "answer.imgSrc" name = "imgSrc">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 